* {
    border-radius: 5px;
    font-family: Noto Sans CJK, FontAwesome;
    font-size: 12px;
    font-style: normal;
    min-height: 10px;
}

window#waybar {
    background: rgba(30, 30, 46, 0.3);
    border-radius: 5px 5px 5px 5px;
    color: #b7abf7;
}

#workspaces {
    background: #282828;
    margin: 5px 5px 5px 5px;
    border-radius: 10px;
    font-weight: normal;
    font-style: normal;
}

#workspaces button {
    padding: 5px 5px 5px 4px;
    border-radius: 10px;
    color: #7d77a1;
}

#workspaces button.active {
    color: #b7abf7;
    background-color: transparent;
    border-radius: 10px;
}

#workspaces button:hover {
    background-color: #907ef2;
    color: black;
    border-radius: 10px;
}

#custom-date,
#clock,
#battery,
#pulseaudio,
#network,
#custom-randwall,
#custom-launcher {
    background: transparent;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    border-radius: 8px;
    border: solid 0px #b7abf7;
}

#custom-date {
    color: #7663e0;
}

#custom-power {
    color: #24283b;
    background-color: #db4b4b;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
    padding: 5px 10px;
}

#tray {
    background: #282828;
    margin: 5px 5px 5px 5px;
    border-radius: 16px;
    padding: 0px 5px;
}

#clock {
    color: #907ef2;
    background-color: #282828;
    border-radius: 24px 5px 5px 0px;
    padding-left: 13px;
    padding-right: 15px;
    margin-right: 0px;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
}


#battery {
    color: #9ece6a;
    margin: 8px;
}

#battery.charging {
    color: #9ece6a;
}

#battery.warning:not(.charging) {
    background-color: #7259ff;
    color: #24283b;
    border-radius: 5px 5px 5px 5px;
}

#backlight {
    background-color: transparent;
    color: #db4b4b;
    border-radius: 0px 0px 0px 0px;
    margin: 4px;
}

#network {
    color: #b7abf7;
    border-radius: 8px;
}

#pulseaudio {
    color: #b7abf7;
    border-radius: 8px;
    margin-left: 0px;
    font-size: 12px;
}

#pulseaudio.muted {
    background: transparent;
    color: #7d77a1;
    border-radius: 8px;
    margin-left: 0px;
}

#custom-randwall {
    color: #b7abf7;
    border-radius: 8px;
    margin-right: 0px;
}

#custom-launcher {
    color: #8c78fa;
    background-color: #282828;
    border-radius: 5px 0px 24px 5px;
    margin: 0px 0px 0px 0px;
    padding: 0 20px 0 13px;
    font-size: 16px;
}

#custom-launcher button:hover {
    background-color: #6448fa;
    color: transparent;
    border-radius: 8px;
    margin-right: -5px;
    margin-left: 10px;
}

#custom-playerctl {
    background: transparent;
    padding-right: 3px;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
}

#custom-playerlabel {
    background: transparent;
    border-radius: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: normal;
    font-style: normal;
}

#window {
    background: #282828;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: normal;
    font-style: normal;
}

#custom-wf-recorder {
    padding: 0 20px;
    color: #8c78fa;
    background-color: #1E1E2E;
}

#cpu {
    background-color: transparent;
    border-radius: 16px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

#memory {
    background-color: transparent;
    border-radius: 16px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

#disk {
    background-color: transparent;
    border-radius: 16px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

#custom-hyprpicker {
    background-color: #282828;
    border-radius: 16px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 11px 0px 9px;
    font-weight: bold;
}
